DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kite_db

NODE_ENV=development

# Zebu integration
ZEBU_BASE_URL=
ZEBU_SOURCE=WEB
ZEBU_VC_DEFAULT=NOREN_WEB
ZEBU_IMEI=abcd1234
ZEBU_APKVERSION=1.0.0
ZEBU_APPKEY_SEED=S3cur3!d
ZEBU_EXEC_BATCH_SIZE=25
